
<!DOCTYPE html>
<head id="R">
  <title>The best ever Nutribullet breakfast smoothie recipes</title>
  <style type="text/css">
      #header {
          background-color:brown;
          color:white;
          text-align:center;
          padding:5px;
      }
  </style>
<body>
<div id="header">
  <h1><b>Food News</b> </h1>
</div>
<br>
<img src="http://i.telegraph.co.uk/multimedia/archive/03288/green-smoothie_3288592b.jpg"/>
<p> The Nutribullet has quickly become one of the nation's favourite kitchen devices: it was a best-seller last Christmas, <strong><a href="http://www.telegraph.co.uk/news/shopping-and-consumer-news/11324616/NutriBullet-sales-soar-over-Christmas.html" target="_blank">with one gadget sold every 30 seconds</a></strong> in John Lewis. Everyone seems to have one, including the Duchess of Cambridge, who will no doubt been whizzing up some healthy concoctions post-childbirth. </p></div><div class="secondPar"><p> For those unfamiliar with the gadget, <strong><a href="http://www.telegraph.co.uk/foodanddrink/10988694/Six-of-the-best-juicers.html">the NutriBullet is an extractor which pulverises vegetables, nuts, seeds and even the pips and stalks of your fruits</a></strong>. </p>
  <head id="R">
    <title>Deliciously Ella's easy banana and oat breakfast smoothie recipe</title>
    <img src="http://i.telegraph.co.uk/multimedia/archive/03294/ella-smoothie-3_3294049b.jpg"/>
  <head id="R">
    <title>Deliciously Ella's pear and vanilla smoothie recipe</title>
    <img src="http://i.telegraph.co.uk/multimedia/archive/03294/pear-smoothie_3294070b.jpg"/>
  <head id="R">
    <title>Coffee chia smoothie recipe</title>
    <img src="http://i.telegraph.co.uk/multimedia/archive/03293/maddy-coffee-smoot_3293204b.jpg"/>
  <head id="R">
    <title>Detoxifying green smoothie recipe</title>
    <img src="http://i.telegraph.co.uk/multimedia/archive/03293/detox-green-smooth_3293227b.jpg"/>
    </html>