<!DOCTYPE html>
<head id="R">
  <title>Latest News, Breaking News,   No space for terrorism, extremism in Pakistan</title>
<body>
<img src="http://www.epakistannews.com/wp-content/uploads/2013/06/Shahbaz-filed-nomination-papers-for-CM-Punjab-150x150.jpg" alt="Shahbaz filed nomination papers for CM Punjab" width="150" height="150" />
<p style="text-align: justify;"><strong>Pakistan, Lahore News : Punjab Chief Minister Shahbaz Sharif has said that Pakistan is passing through a critical phase of the history.</strong></p>
<p>Decisive war is being fought against the menace of terrorism in which victory is the only option, he said talking to Assembly members who called on him here Thursday.</p>
<p>The unity and consensus needed today is more than ever before, said.</p>
<p>Sharif said his government is coping with the challenges being faced by the country through joint efforts and collective wisdom. He said that serious steps are being taken for overcoming energy crisis and terrorism.</p>
<p>The chief minister steps taken under the leadership of Prime Minister Nawaz Sharif are yielding positive results.</p>
<p>He said that effective implementation on national action plan is continuing in Punjab for eliminating terrorism and besides terrorists, action is also being taken against their facilitators.</p>
<p>Sharif said that sentences have been made deterrent through necessary amendments in laws. He said that the entire nation is determined to eliminate terrorism, extremism and sectarianism forever.</p>
<p>He said that the terrorists and extremists will be made an example with the power of unity of the nation and reiterated that Pakistan will be purged of terrorism and extremism.</p>
<p>He expressed the hope that the war of survival of the country would be won at every cost by coming up to the expectations of the nation. He said that the entire nation is standing by Pak Army and law enforcement agencies like a rock wall.</p>
<p>He said that Pakistani nation is imbued with new spirit, determination and full force and this moment is of a decisive action against the scourge of terrorism.</p>
<p>Sharif said that extraordinary steps are being taken in the present extraordinary situation for protecting the life and property of the people and these steps are yielding encouraging results.</p>
<p>He said that there is no room for terrorism and extremism in the country.</p>
<p>He vowed that terrorism will be eliminated forever with strong determination of the nation and Pakistan will be made an Islamic welfare state in the real sense.</p>
<p>Referring to the steps for eliminating energy crisis, the Chief Minister said that work is continuing speedily on various energy projects during the tenure of PML-N government.</p>
<p>He said that planning has been made for generating 3600 megawatt electricity through gas.</p>
<head id="R">
  <title>Latest News, Breaking News,   PPP to present evidence of vote fraud - EPakistanNews.com</title>
  <img src="http://www.epakistannews.com/wp-content/uploads/2015/04/PPP-News-150x150.jpg" alt="PPP News" width="150" height="150" />
  <p style="text-align: justify;"><strong>Pakistan, Karachi News : Pakistan Peoples’ Party (PPP) said that it would present evidence of rigging before the judicial commission.</strong></p>
  <p style="text-align: justify;">Speaking to media persons on Thursday, PPP leader Aitzaz Ahsan said that he would share the white paper he released on rigging in NA-124 elections with the commission in the first place.</p>
  <p style="text-align: justify;">The move comes after Supreme Court of Pakistan set up a three-member commission to probe claims of rigging in the last general held on May 11, 2013.</p>
<head id="R"><title>Latest News, Breaking News,   PM shocked over earthquake in Nepal, India - EPakistanNews.com</title>
  <img src="http://www.epakistannews.com/wp-content/uploads/2015/04/Earthquake-in-India-2015-150x150.jpg" alt="Earthquake in India 2015" width="150" height="150" />
  <p style="text-align: justify;"><strong>Pakistan News : Prime Minister Nawaz Sharif, who is in London on an official visit, Saturday expressed his deep shock on the reports of massive earthquake causing devastation in Nepal and Northern India.</strong></p>
  <p>&#8220;The Government of Pakistan and its people extend their heartfelt condolences and sympathies to the governments and the<br />
    peoples of Nepal and India on the tragedy that has caused loss of precious lives and properties,&#8221; said a Foreign Office statement.</p>
  <p>It said the government and the people of Pakistan expressed solidarity with the affected people of Nepal and India and offered<br />
    all possible help that might be required in their hour of grief.</p>
  <p>According to the Foreign Office, the government of Pakistan has instructed its missions in the two countries to approach their<br />
    respective host governments to ascertain the damages caused and the requirement of relief assistance.</p>
  <p>The National Disaster Management Authority of Pakistan has also been readied to take the relief assistance at a short notice.</p>
<head id="R">
  <title>Latest News, Breaking News,   Pakistan gets first women-only auto-rickshaw - EPakistanNews.com</title>
  <img src="http://www.epakistannews.com/wp-content/uploads/2015/04/Pink-Rickshaw-in-Lahore-150x150.jpg" alt="Pink Rickshaw in Lahore" width="150" height="150" />
  <p style="text-align: justify;"><strong>Pakistan, Lahore News : A Pakistani environmentalist, fed up with being groped and harassed by male auto-rickshaw drivers, has launched her own service exclusively for women passengers and drivers in her home city of Lahore &#8211; with just the one rickshaw on the road so far.</strong></p>
  <p>Zar Aslam, president of Pakistan&#8217;s non-profit Environment Protection Fund, said she once narrowly escaped kidnapping by a rickshaw driver when she was a student, which triggered the idea of launching her &#8220;Pink Rickshaw&#8221; service.</p>
  <p>&#8220;This is another step towards women&#8217;s financial and professional empowerment,&#8221; Aslam told Reuters at her home in Lahore, showing off her first rickshaw.</p>
  <p>&#8220;I and my co-workers face harassment by male auto drivers or by passersby while waiting for public transport.&#8221;</p>
  <p>The &#8220;rickshaws&#8221; are covered three-wheel motorcycles and Aslam bought one to start with, added fans, doors and headlights and painted it pink and white.</p>
  <p>The plan is to have at least 25 up and running by the end of the year, with the Aslam looking out for sponsors.</p>
  <p>&#8220;One auto costs 300,000 rupees (about $3,000), therefore it cannot be done without sponsorship from donors,&#8221; she said, adding that the government has not offered any assistance.</p>
  </html>