
<!DOCTYPE html>
<head id="R">
  <title>Fitch: UK Faces Fiscal Continuity, Constitutional Uncertainty</title>
  <style type="text/css">
      #header {
          background-color:brown;
          color:white;
          text-align:center;
          padding:5px;
      }
  </style>
<body>
<div id="header">
  <h1><b>Currencies News</b> </h1>
</div>
<br>
<img src="http://charts.reuters.com/enhancements/chartapi/chart_api.asp?cmb=wsod&ord=16153921472&quoteCurrency=USD&baseCurrency=EUR&timezoneOffset=0&dateFormat=US&language=EN&symbol=EUR%3DX&headerType=legend&quoteType=last&width=540&height=339&duration=365&frequency=1week&display=mountain&uppers=&lowers=&event=&timezoneLabel=&compare=GBP%3D,JPY%3D">
<p><p>(The following statement was released by the rating agency)
  LONDON, May 08 (Fitch) The UK general election result reduces
  near-term
  uncertainty about fiscal policy, but raises long-term
  constitutional issues,
  Fitch Ratings says.
  The narrow Conservative majority gives greater, but not
  complete, clarity on the
  future path of fiscal consolidation. Both the Conservative and
  Labour parties
  were committed to reducing the fiscal deficit in the next
  parliament, and
  supported the fiscal mandate set out in the Charter for Budget
  Stability. But
  the prospect of a hung parliament, to which opinion polls had
  been pointing
  throughout the campaign, and possibly a minority government, had
  raised the risk
  that making and implementing fiscal policy would become more
  difficult.
  The Conservatives have said they aim to balance the cyclically
  adjusted current
  budget by 2017-2018, two years earlier than Labour's
  pre-election commitment,
  and using a different balance of revenue and spending measures.
  Consolidation
  therefore looks set to continue broadly in line with the March
  budget and Office
  for Budget Responsibility (OBR) projections. But certain details
  of the
  Conservative programme, such as the composition of planned
  welfare cuts, remain
  to be spelt out.
  The fiscal mandate, particularly the five-year rolling deficit
  target, provides
  substantial flexibility, giving future governments the option to
  avoid
  pro-cyclical fiscal tightening in response to weaker economic
  conditions. But
  this flexibility may be hindered by pre-election commitments to
  protect large
  categories of spending and rule out rises in several major tax
  categories.
  The OBR enhances fiscal transparency and credibility, increasing
  political
  incentives to correct budgetary imbalances. But missing or
  delaying targets for
  the cyclically adjusted current deficit could reduce fiscal
  credibility, in our
  view.
  UK debt to GDP remains among the highest of 'AA' and 'AAA'
  category sovereigns.
  Further deficit reduction that resulted in a lower and steadily
  declining
  government debt ratio would support the UK rating at 'AA+'.
  The election will increase pressures for lasting broader
  constitutional reform,
  particularly after the Scottish National Party won 56 seats in
  Scotland.
  Negotiations about devolution of fiscal responsibility to
  Scotland will further
  complicate the fiscal picture. The final arrangement is still
  unknown but
  Scotland's relatively small share of the UK economy (around 10%)
  means the
  resulting fiscal risks to the UK are likely to be manageable.
  The UK starts from
  a position of relative strength in fiscal policymaking. We would
  not expect the
  overall fiscal framework to be significantly weakened by further
  fiscal
  devolution.
  But its slim majority could present a political challenge for
  the new
  administration as it seeks to implement its fiscal, UK
  constitutional, and
  European policy agenda. UK constitutional reform will need
  cross-party support,
  and the government could face internal dissent over Europe.
  David Cameron has promised an "in-out" referendum on the UK's EU
  membership by
  the end of 2017, after a loosely defined renegotiation. A firm
  judgement on the
  sovereign credit impact of the UK leaving the EU (opinion polls
  indicate
  meaningful support for membership) is not possible at this
  stage, because the
  terms of the exit scenario are highly uncertain. Negotiating the
  shape of a UK
  exit would be lengthy and complicated, and a wide variety of
  outcomes are
  possible. This prolonged uncertainty could dent UK economic
  growth by weighing
  on confidence and investment.
  Contact:
  Douglas Renwick
  Senior Director
  Sovereigns
  +44 20 3530 1045
  Fitch Ratings Ltd
  30 North Colonnade
  London E14 5GN
  Gergely Kiss
  Director
  Sovereigns
  +44 20 3530 1425
  Mark Brown
  Senior Director
  Fitch Wire
  +44 20 3530 1588
  Media Relations: Peter Fitzpatrick, London, Tel: +44 20 3530
  1103, Email:
  peter.fitzpatrick@fitchratings.com.
  The above article originally appeared as a post on the Fitch
  Wire credit market
  commentary page. The original article can be accessed at
  www.fitchratings.com.
  All opinions expressed are those of Fitch Ratings.
</p>
<head id="R">
  <title>Iraqi forces plead for help as Islamic State closes in on refinery</title>
  <img src="http://s3.reutersmedia.net/resources/r/?m=02&d=20150504&t=2&i=1045657830&w=644&fh=&fw=&ll=&pl=&r=LYNXMPEB430NO"/>
  <p><span class="articleLocation">BAGHDAD</span> Iraqi forces besieged inside the country's largest oil refinery are running low on food and pleading for reinforcements to save them from Islamic State militants who have advanced deep into the compound in the past week.</p></span><span id="midArticle_0"></span><p>The insurgents now hold large sections of the sprawling Baiji refinery complex in northern Iraq where some 200 policemen, soldiers and elite special forces are holding out.</p><span id="midArticle_1"></span><p>"We are surrounded by Daesh from all sides," said a policeman called Mohanad, speaking via telephone from the refinery where his unit has taken up defensive positions in a guest house on the eastern side of the complex. Daesh is the Arabic acronym for the Islamic State group, also known as ISIS or ISIL in English.   </p><span id="midArticle_2"></span><p>"We can hear Daesh fighters shouting and threatening to behead anyone they catch. We are running short of ammunition, food and drinking water. We eat only one meal a day. We tear our uniforms to bandage other soldiers' and policemen's wounds."</p><span id="midArticle_3"></span><p>Mohanad, who is from Baghdad, said he had set aside one bullet to end his own life in case they were overcome by the militants: "Its an easier way to die than being beheaded".</p><span id="midArticle_4"></span><p>Baiji refinery has been one of the most fiercely contested spots in Iraq since Islamic State militants tore through the north last summer and proclaimed a caliphate.</p><span id="midArticle_5"></span><p>Government forces held out for months under siege inside the refinery last year. The siege was broken in November, but the fighters launched a new offensive there last month after being driven out of the nearby city of Tikrit.</p><span id="midArticle_6"></span><p>After the militants captured much of the compound, Iraqi officials said on April 18 they were again fully in control. But the militants have since gained ground once again.</p>
<head id="R">
  <title>Job growth regains steam, keeping Fed rate hike on track</title>
  <img src="http://s2.reutersmedia.net/resources/r/?m=02&d=20150507&t=2&i=1046460848&w=644&fh=&fw=&ll=&pl=&r=LYNXMPEB460KI"/>
  <p><span class="articleLocation">WASHINGTON</span> U.S. job growth rebounded last month and the unemployment rate dropped to a near seven-year low of 5.4 percent, signs of a pick-up in economic momentum that could keep the Federal Reserve on track to hike interest rates this year.</p></span><span id="midArticle_1"></span><p>Nonfarm payrolls increased 223,000 as gains in services sector jobs offset weakness in mining, the Labor Department said on Friday. The one-tenth of a percentage point decline in the unemployment rate to its lowest level since May 2008 came even as more people piled into the labor market. </p><span id="midArticle_2"></span><p>The report, which showed steady but tepid gains in hourly earnings, suggested underlying strength in the economy at the start of the second quarter after a bad stumble in the first three months of the year.</p><span id="midArticle_3"></span><p>Still, March payrolls were revised to show only 85,000 jobs created, the fewest since June 2012. That resulted in 39,000 fewer jobs added in February and March than previously reported.</p><span id="midArticle_4"></span><p>"This report was darn close to the Goldilocks scenario. However, the revisions are somewhat of a concern," said Russell Price, senior economist at Ameriprise Financial Services in Tory, Michigan.</p><span id="midArticle_5"></span><p>Stock investors cheered the report, with the Standard & Poor's 500 index shooting up more than 1 percent at the open, as investors saw the data suggesting less urgency for the Fed to lift benchmark overnight rates from near zero.</p><span id="midArticle_6"></span><p>Yields on U.S. Treasury debt slipped and futures contracts showed traders barely clinging to bets the U.S. central bank would raise rates this year. The dollar was little changed against a basket of major currencies.</p><span id="midArticle_7"></span><p>"We may see a further acceleration in employment growth going into the summer, but this isn't the sort of unequivocal rebound that would give the Fed the confidence to begin tightening monetary policy before Independence Day," said Paul Ashworth, chief U.S. economist at Capital Economics in Toronto, referring to the July 4 holiday.</p>
  </html>