

<!DOCTYPE html>
<html lang='eng'>
<head>
  <meta charset='UTF-8'>
  <title>WorldWideNewsHome</title>
  <style>
      body {background-color:darkgrey}
      * {
          padding: 0;
          margin: 0;
      }
      li a {
          text-decoration: none;
          color: white;
          line-height: 50px;
          display: block;
      }
      nav ul {
          height: 100px;
          margin: 0 auto;
      }
      nav ul li {
          list-style-type: none;
          width: 150px;
          float: left;
          text-align: center;
      }
      nav {
          background-color: black;
          height: 100px;
      }
      li a:hover {
          background-color: yellow;
          color: green;
      }
      h1 {
          background-color: black;
          color:#2B547E;
      }

  </style>

</head>
<body>
<h1>WWN</h1>
<div id="regbar">
  <nav>
    <ul>
      <li><a href= "p4(Latest).html">Latest</a></li>
      <li><a href= "p2(sports).html">Sports</a></li>
      <li><a href= "p5(Tech).html">Technology</a></li>
      <li><a href= "p6(politics).html">Politics</a></li>
      <li><a href= "p1(health).html">Health</a></li>
      <li><a href= "p10(Games).html">Games</a></li>
      <li><a href= "p3(Entertainment).html">Entertainment</a></li>
      <li><a href= "p9(Travel).html">Travel</a></li>
      <li><a href= "p8(Currencies).html">Currencies</a></li>
      <li><a href= "p7(Science).html">Science</a></li>
      <li><a href= "p11(Magazine).html">Magazine</a></li>
      <li><a href= "p12(Food).html">Food</a></li>
      <li><a href= "p13(Restaurants).html">Restaurants</a></li>
      <li><a href= "SIGN IN.html">Sign in</a></li>
      <li><a href= "SIGN UP.html">Sign up</a></li>

    </ul>
  </nav>
</body>
</html>